/* blue = f2e9e4; */
:root {
  --beige: #f2e9e4;
  --darkbeige: #c9ada7;
  --brown: #9a8c98;
  --blue: #4a4e69;
  --navy: #22223b;
}

html {
  /* background-color: var(--darkbeige); */
  /* background-color: #ED8C8C; */
  background-color: white;
  /* font-family: 'Courier New', Courier, monospace; */

}

* {
  /* font-family: 'Courier New', Courier, monospace; */
  font-family: optima, monospace;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(60vh);
  visibility: hidden;
  transition: opacity 1600ms ease-out, transform 600ms ease-out,
    visibility 1600ms ease-out;
  will-change: opacity, transform, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.body {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  font-family: "Courier New", monospace;
  /* color: rgb(18, 183, 18); */
  color: var(--navy);
  justify-content: center;

  background-image: linear-gradient(
  0deg,
  hsl(0deg 73% 74%) 0%,
  hsl(5deg 75% 75%) 8%,
  hsl(10deg 76% 76%) 14%,
  hsl(15deg 77% 78%) 18%,
  hsl(21deg 78% 79%) 21%,
  hsl(27deg 79% 80%) 23%,
  hsl(34deg 79% 81%) 26%,
  hsl(41deg 78% 82%) 28%,
  hsl(50deg 77% 83%) 32%,
  hsl(50deg 77% 83%) 36%,
  hsl(41deg 78% 82%) 40%,
  hsl(34deg 79% 81%) 46%,
  hsl(27deg 79% 80%) 53%,
  hsl(21deg 78% 79%) 60%,
  hsl(15deg 77% 78%) 69%,
  hsl(10deg 76% 76%) 78%,
  hsl(5deg 75% 75%) 89%,
  hsl(0deg 73% 74%) 100%
);

}

h1 {
  font-size: calc((10vh+10vw) / 2);
  font-size: 5vw;
  text-align: center;
}

p {
  margin: 20px;
  color: black;
}

.outer-box {
  display: flex;

}

.inner-box {
  flex: 2;
  border: solid 2px black;
  padding: 5px; 
}

/* .inner-box:first-child{
  margin-left: 20px;
} */

section {
	display: grid;
	place-items: center;
	height: 100vh;
	font-size: 32px;
	font-weight: bold;
}

.nav {
  display: flex;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: -5px;
  z-index: 2;
  height: 70px;
  min-height: 70px;
  width: calc(100% - 1.5rem);
  background-color: #fff;
  padding: 0 1rem;
  box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 11%);
}

.nav__container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.nav__container__actions {
  display: inline-flex;
  justify-content: center;
  flex-flow: row nowrap;
  flex: 1;
}

#about {
  margin-top: -80px;
}

#projects,
#contact {
  color: #3b3b3c;
  background: #eaf2fa;
}

.active {
  font-weight: bold;
}

ul {
  display: flex;
  gap: 4rem;
  font-size: 0.9rem;
  list-style: none;
  padding: 0;
}

li {
  cursor: pointer;
  align-self: center;
}

li:hover {
  text-decoration: underline;
}


.title{
  font-size: 40px;
}
.title:hover{
  text-decoration: none;
}